.empowering{
  font-size: 1.2rem;
}
.add-btn{
   width: 8rem;
  border: none;
  background-color: #58803A;
  height: 3rem;
  border-radius: 5px;
  font-size: 0.8rem;
  gap: 10px;
  font-weight: 500;
  color: white;
  padding: 0.3rem;
}

.add-btn:active{
  opacity: 0.4;
}
.all-project-btn{
 background-color: black;
  appearance: none;
  -webkit-appearance: none; /* For Safari and Chrome */
  -moz-appearance: none;    /* For Firefox */
 color: white;
 cursor: pointer;
 outline: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
   background-repeat: no-repeat;
    background-position: right 10px center; /* Position it 10px from the right, vertically centered */
    background-size: 16px; /* Size of the icon */
}
.all-project-btn option{
 background-color: rgba(0, 0, 0, 0.2);
}
/* Main */
.all-project{
  margin-top: 1rem;
}
.project-id{
padding: 0.8rem;
border-radius: 7px;
border: 1px solid rgba(0, 0, 0, 0.10);
background: #FFF;
}
.community-service{
  color: #11111166;
}
.manage-button{
  border-radius: 5px;
border: 1px solid rgba(17, 17, 17, 0.40);
width: 7rem;
height: 2.5rem;
background-color: #FFF;
}
.manage-button:hover{
  color: white;
  background-color:rgba(17, 17, 17, 0.40);
}
.manage-button:active{
  color: white;
  background-color:rgba(17, 17, 17, 0.40);
  opacity: 0.5;
}
.project-year{
  margin-bottom: 1rem;
  font-size: 1rem;
  letter-spacing: 0px;
}
.project-img{
  height: 8rem;
}